.App {
  text-align: center;
  position: relative;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-score {
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Player 1 Styles */
.player-1-score {
  color: white;
  background-color: #ff6347; /* Red background */
  border-color: #ff6347; /* Red border */
}

.active-player.player-1-score {
  background-color: #ff4500; /* Darker red for active state */
}

/* Player 2 Styles */
.player-2-score {
  color: white;
  background-color: #4682b4; /* Blue background */
  border-color: #4682b4; /* Blue border */
}

.active-player.player-2-score {
  background-color: #1e90ff; /* Darker blue for active state */
}

.score-details {
  margin-bottom: 20px;
  height: 100px;
}

.logs {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 200px;
  width: 800px;
  height: 200px;
  padding: 10px;
}

.logs-header {
  font-weight: bold;
  color: chocolate;
}

.score-history {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Player 1 Button Styles */
.player-1-button {
  background-color: #ff6347; /* Red background */
  color: white;
}

/* Player 2 Button Styles */
.player-2-button {
  background-color: #4682b4; /* Blue background */
  color: white;
}

button:hover {
  opacity: 0.8;
}
